.avarasize{
    
   margin-right: 0px;
    margin-left:auto;

}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loadingImage {
    animation: rotate 2s infinite ease-in-out;
    width: 100px;
    height: 100px;
  }
  
  